<html>
<body>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h4 class="modal-title">Accepted for Movers, Shakers &amp; Innovators Showcase, Alternate for the Tournament of Tease</h4>
</div>

<div class="modal-body">

<p>Great news! The evaluation team has reviewed your application, and would like to invite you to perform your act in the non-competitive <strong>Thursday Night Movers, Shakers, & Innovators</strong> showcase.</p>
<p>Your act has also been selected as an ALTERNATE for the Saturday Night Tournament of Tease. In the event of a cancellation in your category, you may be asked to step in. If so, your act will be moved from Thursday to Saturday (and a Thursday alternate will take your place in that show).
</p>

<%= render partial: "accepted_next_steps" %>

<%= render partial: "need_full_pass" %>

<%= render partial: "after_that" %>

</div>

<%= render partial: "rsvp_box" %>

</body>
</html>
