<html>
  <body>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Sorry, your application was not selected</h4>
    </div>

    <div class="modal-body">

      <p>Thank you for applying to perform at the Burlesque Hall of Fame Weekender. We regret that we are unable to offer you a performance slot this year.</p>
  <p>While we know this isn&#8217;t the news you wanted, we would like to thank you very much for your support! Your application fees and membership help the nonprofit Burlesque Hall of Fame Museum with its mission of “preserving, sharing, celebrating, and inspiring the art of burlesque”. We hope to see you at the weekender in June, and encourage you to apply again in the future.</p>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

  </body>
</html>
