<h4>What happens after you accept</h4>

<p>
  Once we have all the RSVPs, we will announce the full lineup. We'll
  send you a press release you can send to your local media
  outlets. And we will put you in touch with the show
  producers. We will provide them with the tech info from your
  application and they will be in touch with you to work out
  final tech requirements, schedule walk-throughs, collect music, etc.
</p>
<p>
  Remember that your act must be under the time limit based on your category, so be sure to work on trimming it if necessary!
</p>

<p>We will also be contacting you with instructions on how to submit a
  high-resolution photo for the souvenir program; please have this ready
  so as not to delay the printing process.</p>

<p>Thank you again for applying! We appreciate your support and would
  love to hear feedback about the online application process, just
  email us
  at <a href="mailto:2020@bhofapplication.com">2020@bhofapplication.com</a>
  with any feedback (positive or negative). We hope to see you in
  June!
</p>

