<% if DateTime.now <= ::BHOF_RSVP_DEADLINE -%>
   <div class="modal-footer">
    <a href="/apps/<%=@app.id.to_s%>/rsvp?state=1" data-method="post"><button type="button" class="btn btn-success" data-dismiss="modal">RSVP / Accept</button></a>
    <a href="/apps/<%=@app.id.to_s%>/rsvp?state=0" data-method="post"><button type="button" class="btn btn-danger" data-dismiss="modal">Decline</button></a>
   </div>
   <% else -%>
   <div class="modal-footer">
     <P><strong>The deadline to RSVP has passed.</strong></P>
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   </div>
<% end -%>

