<div class="panel panel-default">
  <div class="panel-body">
    <h1>
      <STRONG>Team Ides - Badge Sales</strong>
    </h1>
    <hr/>
    <P>
      Your order has been cancelled.
    </p>
    
    <P>
      You can <a href="/badge">start the order process again</a>
      if you'd like.
    </p>
  </div>
</div>
