<div class="panel panel-default">
  <div class="panel-body">
    <h1>
      <STRONG>Team Ides - Badge Sales</strong>
    </h1>
    <hr/>
    <h3>
      Thank you for your order!
    </h3>
    <P>
      We have emailed you a copy of your order.
    </p>
    <P>
      We will mail you pickup instructions in mid-July.
      If you have questions or need assistance,
      please contact sales@retina.net.
    </p>
    <P>
      Want to order another one? It's more fun if you have two.<br/>
      Just <a href="/badge">start the order process again</a>!
    </p>
    <P>
      Thank you for supporting #badgelife!
    </p>
  </div>
</div>


