<p>Hello,  <%= @resource.email %>, from troupeIT!</p>

<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<hr>
<P>
<img src="https://troupeit.com/assets/landing/troupeit-trussedlogo-360.png" width="175" height="95" alt="troupeIT"><BR>
<a href="https://troupeit.com/">https://troupeit.com</a><BR>
San Francisco, California, USA<BR>
</P>
