
<h1>Pair TroupeIT Player</h1>

<div class="panel">
  <div class="panel-body">

    Enter the following in the troupeIT Player Mobile app to link your
    account to your mobile device. This temporary PIN is valid for 3 hours.
  <div class="centered">
    <h1> <%=@apikey.temppin %> </h1>
  </div>
  <a href="/apikeys"><button class="btn btn-success">Click here once your device is connected</button></a>
  </div>
  
</div>
