@use "../functions";
@use "../mixins/fontawesome";
@use "../variables";

.theme-panel {
	position: fixed;
	z-index: variables.$app-theme-panel-zindex;
	right: functions.rem(-238px);
	top: functions.rem(200px);
	width: functions.rem(238px);
	border-radius: variables.$border-radius-sm 0 0 variables.$border-radius-sm;
	transition: right .2s linear;
	
	&.active {
		right: 0;
		box-shadow: 0 0 16px rgba(variables.$black,.15);
	}
	& .theme-collapse-btn {
    position: absolute;
    left: functions.rem(-40px);
    top: 50%;
    margin-top: functions.rem(-20px);
    width: functions.rem(40px);
    height: functions.rem(40px);
    line-height: functions.rem(40px);
    font-size: variables.$font-size-lg;
    color: var(--#{variables.$prefix}component-color);
    background: var(--#{variables.$prefix}component-bg);
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 16px rgba(variables.$black, .15);
    border-radius: variables.$border-radius-sm 0 0 variables.$border-radius-sm;
	}
	& .theme-panel-content {
		padding: functions.rem(10px);
		background: var(--#{variables.$prefix}component-bg);
		position: relative;
		border-radius: variables.$border-radius-sm 0 0 variables.$border-radius-sm;
	}
	& .theme-list {
		list-style-type: none;
		margin: 0 functions.rem(-5px) functions.rem(-5px) 0;
		padding: 0;
		
		& .theme-list-item {
			float: left;
			margin-right: functions.rem(5px);
			margin-bottom: functions.rem(5px);
		
			& > a {
				width: functions.rem(32px);
				height: functions.rem(32px);
				display: block;
				text-decoration: none;
				position: relative;
				overflow: hidden;
				border-radius: variables.$border-radius-sm;	
				transition: all .2s linear;
			}
			&.active {
				& > a {
					&:before {
						content: '\f00c';
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						font-size: variables.$font-size-base;
						color: variables.$white;
						opacity: .75;
						line-height: functions.rem(36px);
						text-align: center;
						
						@include fontawesome.fontawesome();
					}
				}
			}
		}
	}
}