<h1>Editing Signup Invite</h1>

<div class="panel">
  <div class="panel-body">
  <%= render 'form' %>

  <hr/>
  <%= link_to 'Show', @signup_invite, class: 'btn btn-success'  %> 
  <%= link_to 'Back', signup_invites_path, class: 'btn btn-info' %>
  </div>
</div>

