<div class="panel panel-body">
  <style>

td.alignCenter {
	text-align: center;
}

div.roundimg {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-position: center; 
    margin-left: 15px;
}

</style>


<h1>Users</h1>

<% if @users.length == 0 -%>
There are no users on file. Create one. 
<% else %>
<div id="usersTable">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="userslist">
<thead>
  <tr>
	<th width=150>Image</TH>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th width=50>Acts</th>
    <th width=250>Last Login</th>
    <th width=50>Last IP</th>
    <th width=100>Provider</th>
    <th width=80>Admin?</th>
    <th width=285>Actions</th>
  </tr>
</thead>
<tbody>
<!-- data -->
</tbody>
</table>
</div>

<script>

$.extend( $.fn.dataTableExt.oStdClasses, {
  "sWrapper": "dataTables_wrapper form-inline"
} );

$(document).ready(function() {
  usersDT = $('#userslist').dataTable( {
      "sDom": "<'row'<'col-6'l><'col-12'f>r>t<'row'<'col-12'i><'col-12'p>>",
      "sAjaxSource": "/users.json",
      "iDisplayLength": 8,
      "order" : [ 1, 'asc' ], 
  	  "autoWidth": false,
  	  "columns" : [
  		  { data: "image", width: "150", sClass: "alignCenter" },
  		  { data: "username" },
  		  { data: "email" },
  		  { data: "phone" },
        { data: "actscount" },
  		  { data: "last_sign_in" },
  		  { data: "last_sign_in_ip" },
  		  { data: "provider" },
  		  { data: "admin" },
  		  { data: "id" }
  	  ],
      "oLanguage": {
        "sLengthMenu": "Show&nbsp;<select size=1 name=actslist_length aria-controls=\"userslist\"><option value='5'>5</option><option value='10'>10</option><option value='15'>15</option><option value='30'>30</option></select>&nbsp;records per page", 
        "sSearch": "Search "
    },
     "fnServerData": function ( sSource, aoData, fnCallback ) {
        $.ajax({'datatype':'json',
                'type':'GET',
                'url':sSource,
                'data':aoData,
                'success':function(json) {
                   fnCallback(json);
            }})
     },
     "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
      var id = $('td:eq(9)',nRow).html();
  	  var imgurl = $('td:eq(0)',nRow).html();
      var content = $('td:eq(9)',nRow).html();
	  
      if (content.indexOf("btn") == -1) { 

    		$('td:eq(0)', nRow).html('<div class="roundimg" style="background-image: url(' + imgurl + ')"></div>');

		$('td:eq(9)', nRow).html('<a class="btn btn-success btn-xs btn-block" href="/users/' + id + '"><i class="glyphicon white glyphicon-eye-open"></i> Show</a>' +
        '<a class="btn btn-info btn-xs btn-block" href="/users/' + id + '/become"><i class="glyphicon white glyphicon-user"></i> Become</a>' +
        '<a class="btn btn-danger btn-xs btn-block" href="/users/' + id + '" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="glyphicon glyphicon-remove white"></i> Delete</a>');
     }

     }
  });

  var fixHelper = function(e, ui) {
    ui.children().each(function() {
        $(this).width($(this).width());
      });
    return ui;
  };


});

</script>

<% end -%>
</div>
