     <!-- topmenu --> 
      <ul class="nav navbar-nav">
        <% if user_signed_in? -%>
          <li id="bhofMenu" class="dropdown
            <% if request.fullpath.start_with?("/bhof") -%> active
            <% end -%>">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#bhofMenu">
              BHOF 2019&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/bhof/">Introduction and Rules</a></li>
              <li><a href="/apps/">Your Applications</a></li>
              <% if current_user.has_role?(:bhof_judge) -%>
                <li><a href="/apps/adminindex">Judge: Judge All Applications</a></li>
              <% end -%>
              <% if current_user.has_role?(:bhof_judge) or current_user.has_role?(:bhof_scorer) -%>
                <li><a href="/apps/scoreindex">Reviewer: Review BHOF Applications</a></Li>
              <% end -%>
              <% if current_user.has_role?(:bhof_judge) -%>
                <li><a href="/apps/adminindex?final=1">Judge: Final Selection</a></Li>
              <% end -%>
              <% if current_user.has_role?(:bhof_judge) -%>
                <li><a href="/apps/finalreport">Judge: Final Report</a></Li>
                <% end -%>
            </UL>
          </li>
          <% else -%>
          <% if request.fullpath.start_with?("/bhof") -%>
            <li class="active">
          <% else -%>
            <li>
          <% end -%>  
            <%= link_to 'BHOF 2019', bhof_index_url() %>
          </li>
        <% end -%>

        <% if user_signed_in? -%>
          <li class="dropdown" id="yourMenu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#yourMenu">
              Files...&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/passets/">Manage Files</a></li>
              <li><a href="/passets/new">Upload a File </a></li>
            </ul>
          </li>

          <% if current_user.try(:admin?) -%>
            <li class="dropdown" id="menu1">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                Admin
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/acts">Acts</a></li>
                <li><a href="/companies/adminindex">Companies</a></li>
                <% if current_user.has_role?(:decider_access) -%>
                  <li><a href="/deciders">Deciders</a></li>
                <% end -%>
                <li><a href="/passets/adminindex">Files</a></li>
                <li><a href="/roles">Roles</a></li>
                <li><a href="/shows">Shows</a></li>
                <li><a href="/users">Users</a></li>
              </ul>
            </li>
          <% end -%>
      </ul>
      <!-- end topmenu -->
<% end -%>
