<div class="panel panel-default">
  <div class="panel-body">
    <P ALIGN=CENTER>
      <img src="<%=asset_path 'bhof/bhof-logo-140px11-black.png'%>"><BR>
      <STRONG><a href="/bhof">Return to the <%=::BHOF_YEAR %> Application System</a></STRONG>
      <h2><%=::BHOF_YEAR %> Evaluation Criteria</h2>
    </P>The weekender presents two shows which include performers from the applicant pool. These criteria apply to both.</p>
<ul>
<li><strong>The Opening Night Showcase</strong></li>
</ul>
<p>Kicking off the BHoF Weekender&rsquo;s epic cavalcade of international talent, this non-competitive showcase features a delightful cross-section of burlesque stylings. Since 2011, our opening night showcase theme has been "Movers, Shakers, and Innovators.&rdquo;</p>
<p></p>
<ul>
<li><strong>The Tournament of Tease</strong></li>
</ul>
<p>Since 1991, the Tournament has raised money for the Museum by attracting talent from around the world to the BHoF stage. The performances on this night are evaluated by a team of curated judges who will award the titles of &ldquo;M&ndash; Exotic World&rdquo;! (<em>Miss? Ms? Mr? Mx? - that&rsquo;s up to the winner!</em>) and 1st &amp; 2nd Runners Up, Best Debut (Soloist) and Runner Up Best Debut, Best Small and Large Groups, as well as additional superlative awards applicable across all categories, which in 2023 will be &ldquo;Most Comedic&rdquo;, &ldquo;Most Classic&rdquo;, &ldquo;Most Dazzling&rdquo;, and &ldquo;Most Innovative&rdquo;. All categories are open to all genders.</p>
<h2>EVALUATION CRITERIA</h2>
<p>These criteria will be used by all &ldquo;Evaluators&rdquo; &mdash; both the Selection Team during the 2023 application period <em>and</em> the Tournament Judges during the 2023 Tournament. To reiterate: these will serve in both the evaluation of applications (Showcase and Tournament), as well as the final competitive judging during the Tournament. While the criteria remain the same, the Selection Committee and Tournament Judges are two different sets of people. (More info about Tournament Judges and Selection Committee below.)</p>
<p>Here are the Evaluation Criteria exactly as provided to Evaluators:</p>
<hr />
<p>Please evaluate the performances based on the following seven criteria:</p>
<ul>
<li><strong>Entertainment Value: Stage Presence, Charisma and Energy</strong></li>
</ul>
<p>Look for the performer&rsquo;s passion for the art and connection to the audience&mdash;something that should shine through in their performance, and the way they own the stage.</p>
<ul>
<li><strong>Originality and Creativity</strong></li>
</ul>
<p>Look for factors that make the performance unique; a distinctive perspective or delivery, a personalized expression of aesthetic, an unusual move, an unexpected reveal, a wickedly quirky sense of humor, a compelling imagination. In essence, has the performer done more than just tick all the boxes?</p>
<ul>
<li><strong>Striptease Expertise</strong></li>
</ul>
<p>Striptease is one of the most unique theatrical elements in burlesque. Please evaluate <strong>whether the way the performer removes their costume pieces is well-executed</strong> &ndash; skillfully, inventively, and with exceptional ingenuity, humor, mischief, and&sol;or sensuality.</p>
<ul>
<li><strong>Style and Appearance</strong></li>
</ul>
<p>This applies to the performer&rsquo;s costuming, stage makeup, accessories, hair, props, etc. Consider the <strong>attention to detail </strong>and <strong>general theatricality</strong> of the performer&rsquo;s look. How <strong>effective</strong> is their styling for their act, whether a dollar store bath towel or an expensive designer costume? They shouldn&rsquo;t need rhinestones to dazzle.</p>
<ul>
<li><strong>Poise, Polish and Professionalism</strong></li>
</ul>
<p>Please evaluate the <strong>smoothness of the performance</strong>, including their handling of malfunctions or other unpredictable issues.</p>
<ul>
<li><strong>Movement</strong></li>
</ul>
<p>Look at how the performer embodies musicality, confidence, entertainment value, intention, and skill, and whether their movement serves their act. Although polish is important, classical dance training, acrobatics, and similar skills should <em>not</em> be imperative to score well in this category.</p>
<ul>
<li><strong>Entrance and Exit from Stage</strong></li>
</ul>
<p>First and last impressions count! Does the act feel complete from beginning to end?</p>
<hr />

<h2>Questions? Answers.</h2>
<h3>WHAT IS THE MOST IMPORTANT PART OF THE APPLICATION?</h3>
<p><strong>The act, the act, the act!</strong> The rest of the application is primarily informational, to help the Selection and Production Teams get a better feel for your (and&sol;or your group&rsquo;s) personality and flavor, and inform the Weekender goal of presenting exceptional performances from across a wide range of styles and geographical areas.</p>
<p><b>No special consideration</b> is granted, including for any of the following: having competed before; volunteering for BHOF; serving on a BHoF advisory committee; having a particular style or appearance; your standing in the burlesque community; awards or accolades you&rsquo;ve received; submitting the application early; or anything else not directly related to the quality of the act. Full and equal consideration is given to each and every application submitted based on the merits of the act itself.</p>
<h3>WHICH ACT SHOULD I SUBMIT?</h3>
<p>The Burlesque Hall of Fame is dedicated to showcasing the most exciting, entertaining, innovative, fun, sexy and&sol;or hilarious burlesque acts from around the world. Our goal is to present exceptional examples of the art of burlesque in all its glorious variety, and we want to re-emphasize that you don&rsquo;t need a certain style (or a certain anything) in order to perform, compete, or win a title at the Weekender.</p>
<p>Generally speaking &mdash; we are looking for acts that will &ldquo;dazzle on the big stage&rdquo;, a phrase which has a lot of latitude. It&rsquo;s not always easy to compare different types of acts (e.g. comedy vs. classic elegance vs. camp vs. high glitz) but the strongest acts always have both polish and that ineffable &ldquo;special something.&rdquo; <em>(Please note: No matter what else your act contains, it should feature at least some amount of clothing removal.)</em></p>
<p>So: submit the act(s) you&rsquo;re most passionate about, the acts you&rsquo;ve spent the most time perfecting, the acts that showcase what you love about burlesque &ndash; in a video that captures that act well! <strong>Please don&rsquo;t try to guess what &ldquo;BHoF wants,&rdquo;</strong> the makeup of the Selection Committee is different every year, and contains a range of perspectives. Your best bet is to <strong>submit what </strong><strong><em>you</em></strong><strong> would love to see on the BHoF stage</strong>.</p>
<h3>HOW MANY ACTS CAN I SUBMIT?</h3>
<p>Each soloist or group can apply with <strong>up to two acts</strong>. Each act is evaluated separately, but only one act in each category (soloist or group) will be accepted. It is possible that an applicant can be accepted as both a soloist and part of a group.</p>
<h3>DO I NEED A PROFESSIONALLY PRODUCED VIDEO?</h3>
<p><strong>No</strong>. Whether filmed at a show or in your house, the Selection Team will be looking at your act, not the video&rsquo;s production values. We have seen videos filmed in a living room that "bring it," and we&rsquo;ve also seen professionally-shot videos that did not present an act to its best advantage (and vice-versa). The video should be in landscape mode (wide), you should be visible (if the team can&rsquo;t see the act, they can&rsquo;t evaluate it), and it should clearly showcase the qualities of your performance you think are most important.</p>
<h3>SHOULD I INCLUDE IN MY VIDEO THE EMCEE INTRO&sol;OUTRO or THE STANDING OVATION I RECEIVED?&nbsp;</h3>
<p>If it fits within the time limits described on the application &ndash; 1 minute longer than the maximum allowed performance time of 4 minutes for soloists, 5 minutes for groups &ndash; you <em>could</em>, but be aware that <strong>it is unlikely to positively affect the Selection Committee&rsquo;s evaluation</strong>. With hundreds of videos to watch, they are likely to skip everything else to get to the important part: the act!</p>
<h3>SHOULD I PUT A CAPTION ON MY VIDEO WITH MY PERFORMER NAME &amp; ACT NAME?</h3>
<p><strong>It&rsquo;s helpful</strong>, but not required.</p>
<h3>HOW WILL APPLYING &ldquo;SHOWCASE ONLY&rdquo; or &ldquo;TOURNAMENT ONLY&rdquo; or &ldquo;ALL SHOWS&rdquo; AFFECT MY CHANCES OF PERFORMING?</h3>
<p>The evaluation criteria remains the same no matter which you choose. However, checking &ldquo;All Shows&rdquo; puts your application under consideration for more potential performance slots. Indicating an exclusive preference will <em>not</em> increase your chance of being offered a spot in your chosen category by virtue of removing yourself from the other category.</p>
<p>Your best bet is to select the option that you would be most happy with. If you are not interested in competing, check &ldquo;Showcase only&rdquo;. If you are exclusively interested in competing, select &ldquo;Tournament only&rdquo;. If you&rsquo;re excited to perform on the big stage in front of an incredible audience, and don&rsquo;t care which night you do it, select &ldquo;All Shows&rdquo;.</p>
<h3>HOW MANY PERFORMANCE SLOTS ARE THERE?&nbsp;</h3>
<p>The Showcase includes 12&ndash;16 performers selected from applicants. For the 2023 Tournament, two additional slots have been added to both the Debut and M-EW categories, raising the number of acts in each category from 10 to 12. The Small and Large Group categories each contain four acts. These are the projected numbers for each category; there may be more or fewer in a given year based on the makeup of the applicant pool.</p>
<h3>I PERFORMED IN THE 2020&sol;2021 VIRTUAL WEEKENDER (VHoF), BUT HAVE NEVER APPEARED AS A SOLOIST IN THE LIVE EVENT. WILL I BE CONSIDERED FOR BEST DEBUT OR MEW?</h3>
<p><strong>Best Debut.</strong> M-EW is open only to those who <strong>have</strong> previously performed as a soloist during the <strong><em>in-person</em></strong> BHoF Weekender.</p>
<h3>I HAVE PREVIOUSLY PERFORMED AS A SOLOIST IN THE LIVE EVENT ON THURSDAY. WILL I BE CONSIDERED FOR BEST DEBUT OR M-EW?</h3>
<p><strong>M-EW. </strong>Best Debut is open only to those who have <strong><em>never</em></strong> performed as a soloist during the in-person BHoF Weekender.</p>
<h3>HOW DOES ACCEPTANCE FOR ONE SHOW AFFECT CONSIDERATION FOR THE OTHER SHOW?</h3>
<p>Each soloist or group can only perform once, so if you are accepted for one night you will not be considered for the other. The exception to this is in the case of a soloist who also happens to appear as part of a group, in which case being accepted as one does not affect consideration as the other.</p>
<p>Alternate acts are selected for both nights in the event of cancellation. If you are selected as an alternate for the tournament, that will not affect (either positively or negatively) consideration for the showcase.</p>
<h3>WHO ARE THE SELECTION COMMITTEE and TOURNAMENT JUDGES?</h3>
<p>Although the exact makeup of both the Selection Committee and Judging Panel changes from year to year, both teams of Evaluators are selected for their knowledge of burlesque and community standing; for instance: Legends and M-EWs; other BHoF titleholders and staff; academics and experts who specialize in burlesque or other relevant performing arts; festival producers; celebrities in the burlesque world; and other well-regarded members of the burlesque and entertainment communities. We work hard to create a body of Evaluators that is ethnically, geographically, stylistically, gender, and otherwise diverse.</p>
<p>For the Tournament, the judging panel consists of seven people fitting the criteria described above. A new panel of judges is appointed every year so that no particular "take" on burlesque becomes entrenched. The identity of judges remains anonymous until competition night, to avoid any possibility of impropriety.</p>
<p>&nbsp;</p>
<p>If you&rsquo;d like to know more about the judging and selection process, please read <a href="http://blog.bhofapplication.com/behind-the-scenes-the-competition-selection-process">Behind the Scenes: The Competition Selection Process</a> which offers an insider&rsquo;s look at the process.</p>
</div>
</div>
