<div class="panel bs-docs-container">
  <div class="panel-body">
    <div class="row">
      <P ALIGN="CENTER">
        <img src="<%=asset_path 'bhof/bhof-logo-140px11-black.png'%>"><BR>
      </p>
      <div class="bs-callout bs-callout-info">
        <P>You're filling out a BHOF Member Application on our partner site, <i>Wild Apricot.</i></p>
        <P>When you've completed your member application,
          <a href="/bhof/page1">
            Go back to the <%=::BHOF_YEAR %> application system.
          </a>
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <iframe width='692px' height='900px' frameborder='no' src='https://burlesquehalloffame.wildapricot.org/widget/page-1656027'  onload='tryToEnableWACookies("https://burlesquehalloffame.wildapricot.org");'></iframe>
        </div>
        <br/>
    </div>
      <font style='color:#ccc;font-size:9px;font-family: Verdana, Arial, Helvetica, sans-serif;'>Powered by Wild Apricot <a style='color:#ccc' href='https://www.wildapricot.com/features' target='_blank'>Membership Software</a></font><script  type="text/javascript" language="javascript" src="https://burlesquehalloffame.wildapricot.org/Common/EnableCookies.js" ></script>
    </div>
  </div>
</div>


