<div class="panel panel-body">
  <style>
table#fileslist td:nth-child(2) {
  text-align: center;
}

</style>
<script src="/mejs/mediaelement-and-player.min.js"></script>
<%
   if defined? @adminindex 
     @src = "/passets/adminindex.json"
     @title = "Admin: All files, all companies"
   else
     if defined? @membercomp
       @src = "/passets.json?company_id=" + @membercomp.company.id.to_s
       @title = "Files from members of " + @membercomp.company.name
     else
       @src = "/passets.json"
       @title = "Files in Your Account"
     end
   end
-%>
<P>
</p>

<h2><%=@title%></h2>
<%= react_component('FileManager', props: { source: @src }) %>
</div>
