<div class="modal" id="inviteModal" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Invite: <span id="invitation_company_name"</span></h4>
  </div>

  <%= form_for :invitation, :html => { :class => "form-horiziontal" } do |f| -%>
  <div class='modal-body'>
    <div class="alert alert-danger" style='display: none' id='inv_flash_fail'>
      <div id="inv_fail_msg"></div>
    </div>
    <div class="alert alert-success" style='display: none' id='inv_flash_success'>
      <div id="inv_success_msg"></div>
    </div>
	<P>If you'd like to invite someone to join this company, just copy the invite link below and send it to the person you'd like to invite. </p>
	<P>Users that click this link will be added to your company with "Performer" Access.</P>

    <P>
	<input id="invite_code" name="invite_code" class="form-control" value="" readonly onClick="this.setSelectionRange(0, this.value.length)">	
    </p>
    <div class="control-group">
      <%= f.label :email, "E-Mail Addresses", :class=>"control-label" %>
      <div class="controls">
        <%= f.text_area :email, :class=>"form-control", :rows => 5 %><BR>
		    <P>Or, enter one or more e-mail addresses above and we'll send the invite for you.</P>
      </div>
    </div>
  </div>

  <div class='modal-footer'>
    <%= f.hidden_field :company_id, :value => '', :id => "invitation_company_id" %>
    <button class="btn btn-success" id="invite-form-remove">Cancel</button>
    <button class="btn btn-danger" id="invite-form-submit">Send</button>

  </div> <!-- /.modal-footer --> 
  <% end -%>
  </div> <!-- /.modal-content --> 
 </div>  <!-- /.modal-dialog --> 
</div> <!-- /.modal --> 

<script>
  //<![CDATA[
    $(function() {
      // wire up the buttons to dismiss the modal when shown
      $("#inviteModal").bind("show", function() {
        $("#inviteModal a.btn").click(function(e) {
          // hide the dialog box
          $("#inviteModal").modal('hide');
        });

      });
      // remove the event listeners when the dialog is hidden
      $("#inviteModal").bind("hide", function() {
          // remove event listeners on the buttons
          $("#inviteModal a.btn").unbind();
      });

      // finally, wire up the actual modal functionality and show the dialog
      $("#inviteModal").modal({
        "backdrop" : "static",
        "keyboard" : true,
        "show" : true // this parameter ensures the modal is shown immediately
      });

      $('button#invite-form-submit').on('click', function(e){
        // We don't want this to act as a link so cancel the link action
        e.preventDefault();
        $("#inv_flash_success").hide();
        $("#inv_flash_fail").hide();

        // first instance is  the add box, second instance is the length box.
        var ajaxdata = {
          "authenticity_token" : AUTH_TOKEN,
          "company_id" : $("#invitation_company_id").val(),
    		  "email" : $("#invitation_email").val()
        };

        if ($("#invitation_email").val() == "") { 
          $("#inv_fail_msg").text("You must enter one or more email addresses.");
          $("#inv_flash_fail").show();
          return
        };

        // update the record
        $.ajax({
          type: 'POST',
              dataType: 'json',
              url: '/invitation',
              contentType: 'application/json',
              data: JSON.stringify(ajaxdata),
              success: function(response) { 
                $("#inv_success_msg").text("Invitation Sent.");
                $("#invitation_email").val("");
                $("#inv_flash_success").show();
              }
          });
        });

      $('#invite-form-remove').on('click', function(e){
      // We don't want this to act as a link so cancel the link action
        e.preventDefault();
        $("#inviteModal").modal('hide');
      });

    });
  //]]>
</script>
