@use "mixins/background-gradient";
@use "mixins/helper-color";
@use "mixins/helper-font-size";
@use "mixins/helper-font-weight";
@use "mixins/helper-opacity";
@use "mixins/helper-row-space";
@use "mixins/helper-size";
@use "mixins/helper-spacing";
@use "variables";
@import 'node_modules/bootstrap/scss/bootstrap';

/* Helper Row Space */
@include helper-row-space.helper-row-space(0, 15);

/* Helper Margin */
@include helper-spacing.helper-spacing('', 'margin', 'm');
@include helper-spacing.helper-spacing('top', 'margin', 'mt');
@include helper-spacing.helper-spacing('right', 'margin', 'me');
@include helper-spacing.helper-spacing('bottom', 'margin', 'mb');
@include helper-spacing.helper-spacing('left', 'margin', 'ms');
@include helper-spacing.helper-spacing('mx', 'margin', 'mx');
@include helper-spacing.helper-spacing('my', 'margin', 'my');


/* Helper Padding */
@include helper-spacing.helper-spacing('', 'padding', 'p');
@include helper-spacing.helper-spacing('top', 'padding', 'pt');
@include helper-spacing.helper-spacing('right', 'padding', 'pe');
@include helper-spacing.helper-spacing('bottom', 'padding', 'pb');
@include helper-spacing.helper-spacing('left', 'padding', 'ps');
@include helper-spacing.helper-spacing('px', 'padding', 'px');
@include helper-spacing.helper-spacing('py', 'padding', 'py');


/* Helper Font */
@include helper-font-size.helper-font-size(1, 80);
@include helper-font-weight.helper-font-weight(1, 8);


/* Helper Text */
.text-theme {
	--#{variables.$prefix}text-opacity: 1;
	
	color: #{rgba(var(--#{variables.$prefix}app-theme-rgb), var(--#{variables.$prefix}text-opacity))};
}
.text-ellipsis { white-space: nowrap !important; text-overflow: ellipsis; overflow: hidden; }
.text-gradient { -webkit-background-clip: text !important; -webkit-text-fill-color: transparent !important; }
@for $i from 10 through 20 {
	.lh-#{$i} {
		line-height: #{$i * .1} !important;
	}
}


/* Helper Cursor */
.cursor-pointer { cursor: pointer !important }
.cursor-text { cursor: text !important }
.cursor-default { cursor: default !important }
.cursor-inherit { cursor: inherit !important }
.cursor-move { cursor: move !important }
.cursor-progress { cursor: progress !important }


/* Flex */
.flex-1 { flex: 1; }


/* Helper Size */
@include helper-size.helper-size('w', 'width');
@include helper-size.helper-size('h', 'height');
.mh-100vh { max-height: 100vh !important; }


/* Helper Color */
.bg-component { 
	--#{variables.$prefix}bg-opacity: 1;
	
	background-color: #{rgba(var(--#{variables.$prefix}component-bg-rgb), var(--#{variables.$prefix}bg-opacity))};
}
.bg-none { background: none !important; }
.bg-position-center { background-position: center !important; }
.bg-size-cover { background-size: cover !important; }
.bg-no-repeat { background-repeat: no-repeat !important; }
.bg-theme {
	--#{variables.$prefix}bg-opacity: 1;
	
	background-color: #{rgba(var(--#{variables.$prefix}app-theme-rgb), var(--#{variables.$prefix}bg-opacity))};
}
@each $color, $value in variables.$theme-colors {
	@include helper-color.helper-color($color, $value);
}
@each $color, $value in variables.$colors {
	@include helper-color.helper-color($color, $value);
}
@include background-gradient.background-gradient('bg-gradient-red-pink', variables.$red, variables.$pink);
@include background-gradient.background-gradient('bg-gradient-orange-red', variables.$orange, variables.$red);
@include background-gradient.background-gradient('bg-gradient-yellow-orange', variables.$yellow, variables.$orange);
@include background-gradient.background-gradient('bg-gradient-yellow-red', variables.$yellow, variables.$red);
@include background-gradient.background-gradient('bg-gradient-teal-green', variables.$teal, variables.$green);
@include background-gradient.background-gradient('bg-gradient-yellow-green', variables.$yellow, variables.$green);
@include background-gradient.background-gradient('bg-gradient-blue-purple', variables.$blue, variables.$purple);
@include background-gradient.background-gradient('bg-gradient-cyan-blue', variables.$cyan, variables.$blue);
@include background-gradient.background-gradient('bg-gradient-cyan-purple', variables.$cyan, variables.$purple);
@include background-gradient.background-gradient('bg-gradient-cyan-indigo', variables.$cyan, variables.$indigo);
@include background-gradient.background-gradient('bg-gradient-blue-indigo', variables.$blue, variables.$indigo);
@include background-gradient.background-gradient('bg-gradient-purple-indigo', variables.$purple, variables.$indigo);
@include background-gradient.background-gradient('bg-gradient-silver-black', variables.$silver, variables.$black);


/* Helper Opacity */
@include helper-opacity.helper-opacity(0, 10);


/* Helper Display */
.hide { display: none !important; }