@use "functions";
@use "variables";
@use "variables-dark";
@use "mixins";
@import 'node_modules/bootstrap/scss/bootstrap';

:root,
[data-bs-theme="light"] {
	--#{variables.$prefix}app-theme:           #{variables.$theme};
	--#{variables.$prefix}app-theme-rgb:       #{to-rgb(variables.$theme)};
	--#{variables.$prefix}app-theme-color:     #{variables.$theme-color};
	--#{variables.$prefix}app-theme-color-rgb: #{to-rgb(variables.$theme-color)};
	
	--#{variables.$prefix}app-theme-hover: #{functions.shade-color(variables.$theme, 25%)};
	--#{variables.$prefix}app-theme-hover-border-color: #{functions.shade-color(variables.$theme, 25%)};
	--#{variables.$prefix}app-theme-hover-color: #{color-contrast(variables.$theme)};
	
	--#{variables.$prefix}app-theme-active: #{functions.shade-color(variables.$theme, 25%)};
	--#{variables.$prefix}app-theme-active-border-color: #{functions.shade-color(variables.$theme, 25%)};
	--#{variables.$prefix}app-theme-active-color: #{color-contrast(variables.$theme)};
	
	--#{variables.$prefix}app-theme-disabled: #{functions.tint-color(variables.$theme, 25%)};
	--#{variables.$prefix}app-theme-disabled-border-color: #{functions.tint-color(variables.$theme, 25%)};
	--#{variables.$prefix}app-theme-disabled-color: #{color-contrast(variables.$theme)};
	
	--#{variables.$prefix}border-color:     #{variables.$border-color};
	--#{variables.$prefix}border-color-rgb: #{to-rgb(variables.$border-color)};
	
	--#{variables.$prefix}app-header-bg:                #{variables.$app-header-bg};
	--#{variables.$prefix}app-header-bg-rgb:            #{to-rgb(variables.$app-header-bg)};
	--#{variables.$prefix}app-header-color:             #{variables.$app-header-color};
	--#{variables.$prefix}app-header-color-rgb:         #{to-rgb(variables.$app-header-color)};
	--#{variables.$prefix}app-header-input-bg:          #{variables.$app-header-input-bg};
	--#{variables.$prefix}app-header-input-border:      #{variables.$app-header-input-border};
	--#{variables.$prefix}app-header-mobile-divider-bg: #{variables.$app-header-mobile-divider-bg};
	--#{variables.$prefix}app-header-divider-bg:        #{variables.$app-header-divider-bg};
	
	--#{variables.$prefix}component-bg:                        #{variables.$component-bg};
	--#{variables.$prefix}component-bg-rgb:                    #{to-rgb(variables.$component-bg)};
	--#{variables.$prefix}component-secondary-bg:              #{variables.$component-secondary-bg};
	--#{variables.$prefix}component-secondary-bg-rgb:          #{to-rgb(variables.$component-secondary-bg)};
	--#{variables.$prefix}component-tertiary-bg:               #{variables.$component-tertiary-bg};
	--#{variables.$prefix}component-tertiary-bg-rgb:           #{to-rgb(variables.$component-tertiary-bg)};
	--#{variables.$prefix}component-dropdown-bg:               #{variables.$component-dropdown-bg};
	--#{variables.$prefix}component-dropdown-bg-rgb:           #{to-rgb(variables.$component-dropdown-bg)};
	--#{variables.$prefix}component-dropdown-hover-bg:         #{variables.$component-dropdown-hover-bg};
	--#{variables.$prefix}component-dropdown-hover-bg-rgb:     #{to-rgb(variables.$component-dropdown-hover-bg)};
	--#{variables.$prefix}component-dropdown-border-color:     #{variables.$component-dropdown-border-color};
	--#{variables.$prefix}component-dropdown-border-color-rgb: #{to-rgb(variables.$component-dropdown-border-color)};
	--#{variables.$prefix}component-modal-bg:                  #{variables.$component-modal-bg};
	--#{variables.$prefix}component-modal-bg-rgb:              #{to-rgb(variables.$component-modal-bg)};
	--#{variables.$prefix}component-modal-border-color:        #{variables.$component-modal-border-color};
	--#{variables.$prefix}component-modal-border-color-rgb:    #{to-rgb(variables.$component-modal-border-color)};
	--#{variables.$prefix}component-secondary-bg:              #{variables.$component-secondary-bg};
	--#{variables.$prefix}component-color:                     #{variables.$component-color};
	--#{variables.$prefix}component-color-rgb:                 #{to-rgb(variables.$component-color)};
	--#{variables.$prefix}component-border-color:              #{variables.$component-border-color};
	--#{variables.$prefix}component-border-color-rgb:          #{to-rgb(variables.$component-border-color)};
	--#{variables.$prefix}component-active-bg:                 #{variables.$component-active-bg};
	--#{variables.$prefix}component-active-bg-rgb:             #{to-rgb(variables.$component-active-bg)};
	--#{variables.$prefix}component-active-color:              #{variables.$component-active-color};
	--#{variables.$prefix}component-active-color-rgb:          #{to-rgb(variables.$component-active-color)};
	--#{variables.$prefix}component-hover-bg:                  #{variables.$component-hover-bg};
	--#{variables.$prefix}component-hover-color:               #{variables.$component-hover-color};
	--#{variables.$prefix}component-hover-border-color:        #{variables.$component-hover-border-color};
	--#{variables.$prefix}component-focus-border-color:        #{variables.$component-focus-border-color};
	--#{variables.$prefix}component-disabled-bg:               #{variables.$component-disabled-bg};
	--#{variables.$prefix}component-disabled-color:            #{variables.$component-disabled-color};
	--#{variables.$prefix}component-disabled-border-color:     #{variables.$component-disabled-border-color};
	--#{variables.$prefix}component-table-border-color:        #{variables.$component-table-border-color};
	--#{variables.$prefix}component-table-separator-color:     #{variables.$component-table-separator-color};
}

@if variables.$enable-dark-mode {
  @include color-mode(dark, true) {
		--#{variables.$prefix}body-bg:    #{variables-dark.$body-bg-dark};
		--#{variables.$prefix}body-color: #{variables-dark.$body-color-dark};
		--#{variables.$prefix}dark:       #{variables.$gray-100};
		--#{variables.$prefix}dark-rgb:   #{to-rgb(variables.$gray-100)};
		--#{variables.$prefix}light:      #{variables.$gray-900};
		--#{variables.$prefix}light-rgb:  #{to-rgb(variables.$gray-900)};
	
		--#{variables.$prefix}border-color:                 #{variables-dark.$border-color-dark};
	
		--#{variables.$prefix}app-header-bg:                #{variables-dark.$app-header-bg-dark};
		--#{variables.$prefix}app-header-color:             #{variables-dark.$app-header-color-dark};
		--#{variables.$prefix}app-header-input-bg:          #{variables-dark.$app-header-input-bg-dark};
		--#{variables.$prefix}app-header-input-border:      #{variables-dark.$app-header-input-border-dark};
		--#{variables.$prefix}app-header-divider-bg:        #{variables-dark.$app-header-divider-bg-dark};
		--#{variables.$prefix}app-header-mobile-divider-bg: #{variables-dark.$app-header-mobile-divider-bg-dark};
	
		--#{variables.$prefix}component-bg:                    #{variables-dark.$component-bg-dark};
		--#{variables.$prefix}component-bg-rgb:                #{to-rgb(variables-dark.$component-bg-dark)};
	  --#{variables.$prefix}component-secondary-bg:          #{variables-dark.$component-secondary-bg-dark};
	  --#{variables.$prefix}component-secondary-bg-rgb:      #{to-rgb(variables-dark.$component-secondary-bg-dark)};
	  --#{variables.$prefix}component-tertiary-bg:           #{variables-dark.$component-tertiary-bg-dark};
	  --#{variables.$prefix}component-tertiary-bg-rgb:       #{to-rgb(variables-dark.$component-tertiary-bg-dark)};
		--#{variables.$prefix}component-color:                 #{variables-dark.$component-color-dark};
		--#{variables.$prefix}component-color-rgb:             #{to-rgb(variables-dark.$component-color-dark)};
		--#{variables.$prefix}component-border-color:          #{variables-dark.$component-border-color-dark};
		--#{variables.$prefix}component-border-color-rgb:      #{to-rgb(variables-dark.$component-border-color-dark)};
		--#{variables.$prefix}component-hover-bg:              #{variables-dark.$component-hover-bg-dark};
		--#{variables.$prefix}component-hover-color:           #{variables-dark.$component-hover-color-dark};
		--#{variables.$prefix}component-hover-border-color:    #{variables-dark.$component-hover-border-color-dark};
		--#{variables.$prefix}component-disabled-bg:           #{variables-dark.$component-disabled-bg-dark};
		--#{variables.$prefix}component-disabled-border-color: #{variables-dark.$component-disabled-border-color-dark};
		--#{variables.$prefix}component-disabled-color:        #{variables-dark.$component-disabled-color-dark};
	
		--#{variables.$prefix}component-dropdown-bg:               #{variables-dark.$component-dropdown-bg-dark};
		--#{variables.$prefix}component-dropdown-bg-rgb:           #{to-rgb(variables-dark.$component-dropdown-bg-dark)};
		--#{variables.$prefix}component-dropdown-hover-bg:         #{variables-dark.$component-dropdown-hover-bg-dark};
		--#{variables.$prefix}component-dropdown-hover-bg-rgb:     #{to-rgb(variables-dark.$component-dropdown-hover-bg-dark)};
		--#{variables.$prefix}component-dropdown-border-color:     #{variables-dark.$component-dropdown-border-color-dark};
		--#{variables.$prefix}component-dropdown-border-color-rgb: #{to-rgb(variables-dark.$component-dropdown-border-color-dark)};
		--#{variables.$prefix}component-modal-bg:                  #{variables-dark.$component-modal-bg-dark};
		--#{variables.$prefix}component-modal-bg-rgb:              #{to-rgb(variables-dark.$component-modal-bg-dark)};
		--#{variables.$prefix}component-modal-border-color:        #{variables-dark.$component-modal-border-color-dark};
		--#{variables.$prefix}component-modal-border-color-rgb:    #{to-rgb(variables-dark.$component-modal-border-color-dark)};
		--#{variables.$prefix}component-secondary-bg:              #{variables-dark.$component-secondary-bg-dark};
		--#{variables.$prefix}component-table-border-color:        #{variables-dark.$component-table-border-color-dark};
		--#{variables.$prefix}component-table-separator-color:     #{variables-dark.$component-table-separator-color-dark};
		
		@each $color, $value in variables.$theme-colors {
			--#{variables.$prefix}#{$color}-bg-subtle:  #{functions.shade-color($value, 80%)};
			--#{variables.$prefix}#{$color}-text-emphasis:  #{functions.tint-color($value, 40%)};
			--#{variables.$prefix}#{$color}-border-subtle:  #{functions.shade-color($value, 80%)};
		}
	
	
		& .table {
			--#{variables.$prefix}table-striped-bg: #{rgba(variables.$gray-700, 0.7)};
			--#{variables.$prefix}table-active-color: var(--#{variables.$prefix}component-color);
			--#{variables.$prefix}table-active-bg: $gray-700;
			--#{variables.$prefix}table-hover-color: var(--#{variables.$prefix}component-color);
			--#{variables.$prefix}table-hover-bg: #{rgba(variables.$gray-700, 0.85)};
		}
	
		& .bg-white,
		& .bg-dark {
			--#{variables.$prefix}bg-opacity: .25;
		}
		& .text-dark {
			--#{variables.$prefix}text-opacity: .5;
		
			color: rgba(var(--#{variables.$prefix}white-rgb),var(--#{variables.$prefix}text-opacity))!important;
		}
		& .btn-white,
		& .btn-dark {
			border-color: transparent;
			background-color: variables.$gray-700;
			color: variables.$white;
		
			&:hover,
			&:focus,
			&.active {
				background-color: variables.$gray-600;
				border-color: transparent;
				color: variables.$white;
			}
		}
		& .btn-outline-inverse,
		& .btn-outline-default {
			color: variables.$gray-600;
			border-color: variables.$gray-600;
		
			&:hover,
			&:focus,
			&.active {
				background-color: variables.$gray-600;
				color: variables.$white !important;
			}
		}
		& .btn-default {
			background: variables.$gray-600;
			border-color: variables.$gray-600;
			color: variables.$white;
		
			&:hover,
			&:focus,
			&.active {
				background: variables.$gray-700;
				border-color: variables.$gray-700;
				color: variables.$white;
			}
		}
		& .btn-group {
			& > .btn-white {
				& + .btn-white {
					@if variables.$enable-rtl {
						border-right-color: variables.$gray-600;
					} @else {
						border-left-color: variables.$gray-600;
					}
				}
			}
		}
	}
}
