@use "sass:color";
@use "functions";
@use "variables";

/*
   Dark color mode variables
   
   1.0   GLOBAL - Color system
   1.0   GLOBAL - Color system
   2.0   GLOBAL - Body
   3.0   GLOBAL - Border Color
   4.0   GLOBAL - Font
   5.0   GLOBAL - Link Color
   6.0   GLOBAL - Component Color
   7.0   App - Header
   8.0   App - Top Menu
   9.0   App - Sidebar
   10.0  App - POS System
   11.0  UI - Forms
   12.0  UI - Accordion
   13.0  UI - Code
*/



// 1.0  GLOBAL - Color system

$primary-text-emphasis-dark:                         functions.tint-color(variables.$primary, 40%) !default;
$secondary-text-emphasis-dark:                       functions.tint-color(variables.$secondary, 40%) !default;
$success-text-emphasis-dark:                         functions.tint-color(variables.$success, 40%) !default;
$info-text-emphasis-dark:                            functions.tint-color(variables.$info, 40%) !default;
$warning-text-emphasis-dark:                         functions.tint-color(variables.$warning, 40%) !default;
$danger-text-emphasis-dark:                          functions.tint-color(variables.$danger, 40%) !default;
$light-text-emphasis-dark:                           variables.$gray-100 !default;
$dark-text-emphasis-dark:                            variables.$gray-300 !default;

$primary-bg-subtle-dark:                             functions.shade-color(variables.$primary, 80%) !default;
$secondary-bg-subtle-dark:                           functions.shade-color(variables.$secondary, 80%) !default;
$success-bg-subtle-dark:                             functions.shade-color(variables.$success, 80%) !default;
$info-bg-subtle-dark:                                functions.shade-color(variables.$info, 80%) !default;
$warning-bg-subtle-dark:                             functions.shade-color(variables.$warning, 80%) !default;
$danger-bg-subtle-dark:                              functions.shade-color(variables.$danger, 80%) !default;
$light-bg-subtle-dark:                               variables.$gray-800 !default;
$dark-bg-subtle-dark:                                color.mix(variables.$gray-800, variables.$black) !default;

$primary-border-subtle-dark:                         functions.shade-color(variables.$primary, 40%) !default;
$secondary-border-subtle-dark:                       functions.shade-color(variables.$secondary, 40%) !default;
$success-border-subtle-dark:                         functions.shade-color(variables.$success, 40%) !default;
$info-border-subtle-dark:                            functions.shade-color(variables.$info, 40%) !default;
$warning-border-subtle-dark:                         functions.shade-color(variables.$warning, 40%) !default;
$danger-border-subtle-dark:                          functions.shade-color(variables.$danger, 40%) !default;
$light-border-subtle-dark:                           variables.$gray-700 !default;
$dark-border-subtle-dark:                            variables.$gray-800 !default;



// 2.0  GLOBAL - Body

$body-bg-dark:                                       functions.shade-color(variables.$gray-900, 30%) !default;
$body-color-dark:                                    variables.$gray-300 !default;
$body-secondary-color-dark:                          rgba($body-color-dark, .75) !default;
$body-secondary-bg-dark:                             variables.$gray-800 !default;
$body-tertiary-color-dark:                           rgba($body-color-dark, .5) !default;
$body-tertiary-bg-dark:                              color.mix(variables.$gray-800, variables.$gray-900, 50%) !default;
$body-emphasis-color-dark:                           variables.$white !default;



// 3.0  GLOBAL - Border Color

$border-color-dark:                                  variables.$gray-600 !default;
$border-color-translucent-dark:                      rgba(variables.$white, .15) !default;



// 4.0  GLOBAL - Font

$headings-color-dark:                                inherit !default;



// 5.0  GLOBAL - Link Color

$link-color-dark:                                    functions.tint-color(variables.$theme, 40%) !default;
$link-hover-color-dark:                              functions.shift-color($link-color-dark, -(variables.$link-shade-percentage)) !default;



// 6.0  GLOBAL - Component Color

$component-bg-dark:                                  variables.$gray-800 !default;
$component-secondary-bg-dark:                        variables.$gray-700 !default;
$component-tertiary-bg-dark:                         variables.$gray-600 !default;
$component-color-dark:                               variables.$white !default;
$component-border-color-dark:                        variables.$gray-700 !default;
$component-hover-bg-dark:                            functions.tint-color(variables.$gray-800, 15%) !default;
$component-hover-color-dark:                         variables.$white !default;
$component-hover-border-color-dark:                  rgba(variables.$gray-300, .125) !default;
$component-disabled-bg-dark:                         variables.$gray-700 !default;
$component-disabled-border-color-dark:               variables.$gray-700 !default;
$component-disabled-color-dark:                      variables.$gray-600 !default;
$component-dropdown-bg-dark:                         variables.$gray-700 !default;
$component-dropdown-hover-bg-dark:                   variables.$gray-600 !default;
$component-dropdown-border-color-dark:               variables.$gray-600 !default;
$component-modal-bg-dark:                            variables.$gray-700 !default;
$component-modal-border-color-dark:                  variables.$gray-600 !default;
$component-secondary-bg-dark:                        variables.$gray-600 !default;
$component-table-border-color-dark:                  variables.$gray-700 !default;
$component-table-separator-color-dark:               variables.$gray-500 !default;



// 7.0  App - Header

$app-header-bg-dark:                                 functions.shade-color(variables.$gray-800, 15%) !default;
$app-header-color-dark:                              variables.$white !default;
$app-header-input-bg-dark:                           functions.shade-color(variables.$gray-900, 15%) !default;
$app-header-input-border-dark:                       functions.shade-color(variables.$gray-900, 15%) !default;
$app-header-divider-bg-dark:                         variables.$gray-700 !default;
$app-header-mobile-divider-bg-dark:                  variables.$gray-900 !default;



// 8.0  App - Top Menu

$app-top-menu-bg-dark:                               variables.$gray-900 !default;
$app-top-menu-menu-badge-color-dark:                 inherit !default;	
$app-top-menu-menu-badge-bg-dark:                    variables.$gray-800 !default;	
$app-top-menu-menu-badge-font-weight-dark:           variables.$font-weight-bold !default;	
$app-top-menu-link-color-dark:                       rgba(variables.$white, .6) !default;	
$app-top-menu-link-hover-bg-dark:                    none !default;	
$app-top-menu-link-hover-color-dark:                 variables.$white !default;	
$app-top-menu-link-active-bg-dark:                   none !default;	
$app-top-menu-link-active-color-dark:                variables.$white !default;	
$app-top-menu-link-font-weight-dark:                 variables.$font-weight-base !default;
$app-top-menu-control-link-bg-dark:                  variables.$gray-800 !default;	
$app-top-menu-control-link-color-dark:               rgba(variables.$white, .6) !default;	
$app-top-menu-control-link-hover-bg-dark:            color.adjust(variables.$gray-800, $lightness: -4%) !default;	
$app-top-menu-control-link-hover-color-dark:         variables.$white !default;	
$app-top-menu-menu-submenu-bg-dark:                  variables.$gray-800 !default;	
$app-top-menu-menu-submenu-submenu-bg-dark:          rgba(variables.$black, .2) !default;



// 9.0  App - Sidebar

$app-sidebar-bg-dark:                                variables.$gray-800 !default;
$app-sidebar-profile-bg-dark:                        variables.$gray-900 !default;
$app-sidebar-profile-color-dark:                     variables.$white !default;
$app-sidebar-component-color-dark:                   variables.$white !default;
$app-sidebar-active-component-bg-dark:               variables.$gray-900 !default;
$app-sidebar-active-component-color-dark:            variables.$white !default;
$app-sidebar-menu-header-color-dark:                 rgba(variables.$white, .45) !default;
$app-sidebar-menu-divider-bg-dark:                   variables.$gray-900 !default;
$app-sidebar-menu-badge-bg-dark:                     variables.$gray-900 !default;
$app-sidebar-menu-badge-color-dark:                  variables.$white !default;
$app-sidebar-menu-badge-font-weight-dark:            variables.$font-weight-base !default;
$app-sidebar-menu-link-color-dark:                   rgba(variables.$white, .6) !default;
$app-sidebar-menu-link-hover-color-dark:             variables.$white !default;
$app-sidebar-menu-link-font-weight-dark:             variables.$font-weight-base !default;
$app-sidebar-menu-submenu-link-color-dark:           rgba(variables.$white, .45) !default;
$app-sidebar-menu-submenu-link-hover-color-dark:     variables.$white !default;
$app-sidebar-menu-grid-bg-dark:                      variables.$gray-900 !default;
$app-sidebar-menu-grid-border-width-dark:            1px !default;
$app-sidebar-menu-grid-border-color-dark:            rgba(variables.$white, .6) !default;
$app-sidebar-minify-btn-bg-dark:                     color.adjust(variables.$dark, $lightness: -4%) !default;
$app-sidebar-minify-btn-hover-bg-dark:               variables.$gray-900 !default;
$app-sidebar-grid-border-color-dark:                 color.adjust(variables.$dark, $lightness: 7.5%) !default;
$app-sidebar-float-submenu-bg-dark:                  variables.$gray-900 !default;
$app-sidebar-float-submenu-grid-border-color-dark:   variables.$gray-800 !default;
$app-sidebar-mobile-backdrop-bg-dark:                rgba(variables.$gray-900, .5) !default;



// 10.0  App - POS System

$pos-sidebar-bg-dark:                                variables.$gray-800 !default;
$pos-sidebar-header-bg-dark:                         variables.$gray-700 !default;
$pos-sidebar-header-color-dark:                      variables.$white !default;
$pos-sidebar-header-back-btn-bg-dark:                variables.$gray-700 !default;
$pos-sidebar-header-nav-link-bg-dark:                variables.$gray-900 !default;
$pos-sidebar-header-nav-link-color-dark:             variables.$gray-600 !default;
$pos-sidebar-header-nav-link-active-bg-dark:         variables.$gray-800 !default;
$pos-sidebar-header-nav-link-active-color-dark:      variables.$white !default;
$pos-sidebar-footer-bg-dark:                         variables.$gray-700 !default;
$pos-sidebar-footer-color-dark:                      variables.$white !default;
$pos-sidebar-product-border-color-dark:              variables.$gray-600 !default;
$pos-sidebar-product-confirmation-bg-dark:           rgba(variables.$gray-800, .95) !default;



// 11.0  UI - Forms

$form-select-indicator-color-dark:                   $body-color-dark !default;
$form-select-indicator-dark:                         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;
$form-switch-color-dark:                             rgba(variables.$white, .25) !default;
$form-switch-bg-image-dark:                          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>") !default;
$form-valid-color-dark:                              variables.$green-300 !default;
$form-valid-border-color-dark:                       variables.$green-300 !default;
$form-invalid-color-dark:                            variables.$red-300 !default;
$form-invalid-border-color-dark:                     variables.$red-300 !default;



// 12.0  UI - Accordion

$accordion-icon-color-dark:                          $primary-text-emphasis-dark !default;
$accordion-icon-active-color-dark:                   $primary-text-emphasis-dark !default;
$accordion-button-icon-dark:                         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon-dark:                  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;



// 13.0  UI - Code

$code-color-dark:                                    functions.tint-color(variables.$code-color, 40%) !default;