<!-- invitation.html.erb -->
<table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
  <tbody><tr>
      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 90px;padding-right: 90px">
	<h1 style="Margin-top: 0;color: #2e3b4e;font-size: 36px;Margin-bottom: 24px;font-family: sans-serif;text-align: center;line-height: 44px"><%=@title%></h1>
	<p style="Margin-top: 0;color: #4e5561;font-size: 16px;font-family: sans-serif;line-height: 25px;Margin-bottom: 25px;font-weight: 400;text-align: center"><%=@message%>&nbsp;</p>
       </td>
    </tr>
</tbody>
</table>
	

<table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
  <tbody><tr>
      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 90px;padding-right: 90px">
	<div class="btn" style="Margin-bottom: 26px;padding-bottom: 2px;text-align: center">
	  <![if !mso]><a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 14px;font-weight: 700;line-height: 24px;padding: 13px 35px 12px 35px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: sans-serif;background-color: #3036b8;box-shadow: 0 2px 0 #282d98;text-shadow: 0 1px 0 0 1px 0 #2b31a6" href="<%=@invite_url%>">Accept Troupe Invite</a><![endif]>
	  <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="<%=@invite_url%>" style="width:162px" arcsize="7%" fill="t" stroke="f"><v:fill type="tile" src="https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png" color="#3036B8"></v:fill><v:shadow on="t" color="#282D98" offset="0,2px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,12px,0px,11px"><center style="font-size:14px;line-height:24px;color:#FFFFFF;font-family:sans-serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:4px">Accept Troupe Invite</center></v:textbox></v:roundrect><![endif]--></div>
      </td>
    </tr>
</tbody>
</table>
											

