@use "../functions";
@use "../variables";

.news {
	position: relative;
	margin-bottom: variables.$spacer * 3;
	
	& .news-media {
		margin-bottom: variables.$spacer * 1.2;
		
		& img {
			max-width: 100%;
		}
		& .news-media-img {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding-top: 60%;
			background-color: var(--#{variables.$prefix}light);
			
			&.news-media-img-lg {
				padding-top: 70%;
			}
			&.news-media-img-xl {
				padding-top: 85%;
			}
			&.news-media-img-full {
				padding-top: 100%;
			}
		}
	}
	& .news-label {
		margin-bottom: variables.$spacer;
		display: flex;
		
		& span {
			background-color: var(--#{variables.$prefix}light);
			color: var(--#{variables.$prefix}dark);
			padding: functions.rem(4px) functions.rem(8px);
			font-size: variables.$font-size-sm;
			font-weight: variables.$font-weight-bolder;
			border-radius: variables.$border-radius-sm;
			
			& span {
				margin-left: variables.$spacer * .5;
			}
		}
	}
	& .news-title {
		font-size: variables.$h4-font-size;
		margin-bottom: variables.$spacer;
		color: var(--#{variables.$prefix}component-color);
		line-height: variables.$headings-line-height;
		font-weight: variables.$headings-font-weight;
	}
	& .news-title-sm {
		font-size: variables.$h5-font-size;
		margin-bottom: variables.$spacer;
		color: var(--#{variables.$prefix}component-color);
		line-height: variables.$headings-line-height;
	}
	& .news-date {
		color: rgba(var(--#{variables.$prefix}component-color-rgb), .5);
		font-weight: variables.$font-weight-bold;
		font-size: variables.$font-size-sm;
	}
}