<%= form_for(@bhof_member) do |f| %>
  <% if @bhof_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bhof_member.errors.count, "error") %> prohibited this bhof_member from being saved:</h2>

      <ul>
      <% @bhof_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
