<html>
<body>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h4 class="modal-title">Accepted for M- Exotic World</h4>
</div>

<div class="modal-body">

<p>Great news! The evaluation team has reviewed your application, and would like to invite you to compete in the <strong>M- Exotic World</strong> Category of the Saturday Night <strong>Tournament of Tease</strong>!  
</p>


<%= render partial: "accepted_next_steps" %>

<%= render partial: "need_full_pass" %>

<%= render partial: "after_that" %>

</div>

<%= render partial: "rsvp_box" %>

</body>
</html>
