<html>
<body>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h4 class="modal-title">Selected as ALTERNATE for Tournament of Tease</h4>
</div>

<div class="modal-body">
<p>The evaluation team has reviewed your application, and while we cannot offer you a guaranteed performance spot at this time, you have been selected as an ALTERNATE for the Saturday Night Tournament of Tease. We know this isn&#8217;t exactly the news you wanted to hear, but it does mean that your application was very highly regarded by the team. 
<p><strong>When will I know for sure?</strong><br>
When a performer becomes unable to perform in your category, you may be asked to step in. This could happen at any time; in the next few days, a month from now, or the day before the show. However, even if you accept now, you can remove yourself from the alternate list at any time if your plans to attend the BHoF weekender change.</p>

<%= render partial: "accepted_next_steps" %>

</div>

<%= render partial: "rsvp_box" %>

</body>
</html>

