<h4>Here's what to do next</h4>

<p><strong>IMPORTANT COVID-19 UPDATE</strong>: 
The Burlesque Hall of Fame is deeply committed to protecting the health and safety of attendees at all our events. 
As COVID-19 continues to spread rapidly around the world and more and more communities adopt social distancing and 
self-isolation measures to contain the disease, it is clear that holding our BHoF Weekender event in June will not be possible.</p>

<p>Therefore, we are postponing the 2020 BHoF Weekender to <strong>August 27-30, 2020,</strong> at The Orleans Hotel and Casino.</p>

<p>Given continued travel restrictions around the world and the disproportionate effect this disease has on older adults, we expect 
this year’s Weekender to be a very different event from previous years. However, we are determined to do our best to create a 
celebration of burlesque and the burlesque community that we can all be proud of!</p>

<p>As a part of this new development:</p>
<ul>
	<li>If you have been accepted to the Movers, Shakers &amp; Innovators Showcase, then please note that this will take place 
	on Friday, August 28, 2020</li>
	<li>If you have been accepted to the Tournament of Tease, then please note that this will take place on Saturday, August 29, 2020</li>
</ul>

<p>As consideration during these uncertain times, if you cannot accept due to the new rescheduled dates, then BHoF will waive (1) 
application fee for your application in 2021. Regardless of whether you submit the same act that was accepted this year or a new act, 
it will still be evaluated by the new selection committee next year. Therefore you are not guaranteed a slot in next year's competition and/or showcase. 
This offer is only valid in lieu of accepting and you must email <a href="mailto:2020@bhofapplication.com">2020@bhofapplication.com</a> 
by the RSVP deadline of <%=BHOF_RSVP_DEADLINE.to_time.in_time_zone('US/Pacific').strftime(LONG_DATE_FMT_TZ)%>.</p>

<p>Thank you for your patience and understanding. Please stay safe and healthy in these trying times!</p>

<P>Below, click "<B>Accept</B>", or "<B>Decline</B>".<BR>

You will have until
<STRONG> <%=BHOF_RSVP_DEADLINE.to_time.in_time_zone('US/Pacific').strftime(LONG_DATE_FMT_TZ)
 %> </STRONG> to decide. If you do not RSVP by the deadline, we will assume that you have declined. 
</P>

<p><strong>NOTE</strong>: A head count of RSVPs is needed as soon as
  possible, so please RSVP RIGHT AWAY (no later than <%=BHOF_RSVP_DEADLINE.to_time.in_time_zone('US/Pacific').strftime(LONG_DATE_FMT_TZ) %>
  and preferably sooner so the lineup can be published)
</strong></p>


