<div class="panel bs-docs-container">
  <div class="panel-body">
    <P ALIGN=CENTER>
      <h1>New BHOF <%=BHOF_YEAR%> Application</h1>

<P>One application per act, please.</P>

<%= render 'form' %>
</div>
</div>
