<div class="panel bs-docs-container">
  <div class="panel-body">
    <P ALIGN=CENTER>
      <h1>New BHOF <%=BHOF_YEAR%> Application</h1>

<P>Your account does not have a Burlesque Hall of Fame Membership associated with it yet.</p>

Please enter the 8 digit member on your membership card, or, enter the email address that you 
registered with and (something...)

<input type="text" name="membership_id">

</div>
</div>
