<div class="container col-md-10 col-md-offset-1" style="margin-top: 20px;">
<div class="panel panel-inverse">
  <div class="panel-body">
  <h2 class="page-heading">FAQ</h2>

  <h3>Q: What does troupeIT cost?</h3>
  <p>
    RIght now we're offering an introductory price of $19.99/month per
    company, $14.99/month (if you buy three months at a time), or
    $9.99/month if you buy six months in advance.
  </p>
  <h3>Q: Why should I use TroupeIT?</h3>
  <p>
    We believe there is a better way to run shows. The current way of
    doing things, with paper spreadsheets, Dropbox files, Box files,
    USB drives, and music on CDs just doesn't work in a modern world.
  </p>
  <p>
   TroupeIT is designed to make the process of submitting media
   files, accpeting submissions, and building/running a show easy. We
   want you to never have to deal with a printed schedule again; But
   if you need printed schedules and reports, we're there for you with
   PDF, CSV, and Excel export capabilities.
  </p>
  <p>
    Our tool is solid, modern, simple, and is priced at a
    signifigantly better value than tools that offer less features
    than troupeIT for more money.
  </p>
  <h3>Q: Does troupeIT actually play back sound or run lights?</h3>
  <p>
    You can stream audio off of the live cue list but we recommend
    that (For safety) you download your show to your local
    device. Think of us as a cue sheet for your show and management
    system. troupeIT does not actually connect to your light or sound
    system. That's your crew's job. What we do is to make preparing
    for a show and collecting all of the information in one place far,
    far easier than before.
  </p>

  <p>
    You can play back audio, preview video, and preview images online
    while building your show but we recommend you download all of the
    assets and run them from a show playback tool like
    <a href="http://figure53.com/qlab/">Figure 53's qLab</a>.
  </p>
  
  <h3>Q: Is my data safe?</h3>

  <p>
    Data-in-transit is protected by SSL. You also have the option to
    enable two-factor authentication on any account, protecing you
    from phishing and password disclosure. 
  </p>
  <p>
    Care is taken to compartmentalize data and to ensure that one
    company cannot see any another's information.
  </p>
  <p>
    Data-at-rest, that is, data that is stored on our servers is held
    in a secure data center and backed up to two locations. Our
    backups are encrypted and occur every 4 hours. We also store all
    passwords, encrypted and salted, with Bcrypt, a strong,
    computationally intensive algorithm that hinders decryption
    attempts.
  </p>
  </div>
</div>
    
