<p>Welcome to troupeIT!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
<hr>
<P>
<img src="https://troupeit.com/assets/landing/troupeit-trussedlogo-360.png" width="175" height="95" alt="troupeIT"><BR>
<a href="https://troupeit.com/">https://troupeit.com</a><BR>
San Francisco, California, USA<BR>
</P>

