<P ALIGN=CENTER>
  <img src="<%=asset_path 'bhof/bhof-logo-140px11-black.png'%>"><BR>
  <STRONG><%=::BHOF_YEAR %> Application System</STRONG>
</P>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Please read and agree to the following before you begin<span class="pull-right">(3 of 3)</span></strong></div>

  <div class="panel-body">
    <h4>Categorizing your act</h4>
  
    <ul>
<li><strong>For ALL solo acts</strong></li>
<ul>
<li>All categories in the tournament are open to applicants of <strong>any gender</strong>.</li>
<li>Additional visible personnel may be allowed during your solo act provided<strong> their time on stage does not exceed 15 seconds total</strong>. Additional visible personnel must be BHoF stagehands or BHoF stage kittens; alternative personnel may be approved by BHoF producers on a case-by-case basis. <strong>If additional visible personnel must be on-stage for longer than 15 seconds, you must apply as a group.&nbsp;</strong></li>
<li>The tournament features two categories open to soloists:
<ol type="i">
<li><strong>&ldquo;Best Debut&rdquo; - open only to those who have NEVER performed as a soloist at the in-person BHoF Weekender.</strong></li>
<li>&ldquo;<strong>M&ndash; Exotic World&rdquo; - open only to those who HAVE previously performed as a soloist during the in-person BHoF Weekender.</strong></li>
</ol>
If selected for the tournament, you will be placed in the applicable category based on your response to the &ldquo;I have previously/never performed as a soloist during the in-person BHoF Weekender&rdquo; question. (While required for all applicants, this information is not used in the evaluation of &ldquo;Showcase Only&rdquo; applications.)</li>
</ul></li>
<li><strong>For all groups (2+ performers):</strong> While there is a single category on the application, Groups are usually split into &ldquo;Small Group&rdquo; and &ldquo;Large Group&rdquo; for competition. In general, Small Group = 2 or 3 members, and Large Group = 4+ members. However, we reserve the right to adjust these categories as needed for competition to reflect the makeup of the applications accepted.</li>
</ul>
<h4>Evaluation Criteria</h4>
<p>Both the Selection Committee and Tournament Judges will evaluate acts<strong> based on 7 criteria:</strong></p>
<ul>
<li><strong><strong>Entertainment Value: Stage Presence, Charisma and Energy</strong></strong></li>
<li><strong>Originality and Creativity</strong></li>
<li><strong>Striptease Expertise</strong></li>
<li><strong>Style and Appearance</strong></li>
<li><strong>Poise, Polish and Professionalism</strong></li>
<li><strong>Movement</strong></li>
<li><strong>Entrance and Exit from Stage</strong></li>
</ul>
<p>For additional details, and to see the criteria sheet exactly as provided to the Selection Committee and Judges, as well as the process by which these Evaluators are selected, please read the full <a href="http://troupeit.com/bhof/judging_criteria" target="_blank">2023 Evaluation Criteria</a> document.</p>

    <h4>BHoF Statement of Values</h4>
     <p>The Burlesque Hall of Fame is committed to operating with integrity, openness, compassion, and respect. As such:
    </p>
    <ul>
      <li>We provide all attendees with a warm and welcoming environment in which to learn, experience, and create.</li>
      <li>We will operate and be governed to the highest attainable standards of transparency, accountability, and professionalism.</li>
      <li>We respect the people whose lives we represent, and encourage our audiences, visitors, staff, volunteers, and communities to do the same.</li>
      <li>We are committed to fair and just treatment of all people, regardless of their race, creed, nationality, degree of bodily ability, age, appearance, sex, gender, orientation, or socioeconomic status.</li>
      <li>We serve our community and welcome the active participation of its members.</li>
    </ul>

  </div>
</div>

<p align="center">
  <a class="btn btn-warning" href="/bhof?page=2">Take me back a page.</a>
  <a class="btn btn-success" href="/apps">Let's get started.</a>
</p>

