<div class='modal' id='durationModal' style='display: none' tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Change Duration</h4>
      </div>

  <%= form_for @show_item, :html => { :class => "form-horiziontal" } do |f| -%>
  <div class='modal-body'>
    <div class="alert alert-danger" style='display: none' id='durflash'>
      Length must be in the form MM:SS
    </div>
    <div class="control-group">
      <label class="control-label" for="show_change_duration">Length in the form (MM:SS)</label>
      <input type="hidden" name="show_item_id" id="show_item_id">
      <div class="controls">
        <input class="input-xlarge" id="show_change_duration" name="show_item[duration]" size="30" type="text"> 
      </div>
    </div>
  </div>

  <div class='modal-footer'>
    <%= f.hidden_field :act_id, :value=> 0  %>
    <%= f.hidden_field :kind, :value=> 0  %>
    <%= f.hidden_field :show_id, :value=> @show.id  %>
    <button class="btn btn-primary" id="duration-modal-submit">Change Duration</button>
          </div> <!-- /.modal-footer -->
      <% end -%>
      </div> <!-- /.modal-content -->
</div>  <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<script>
  //<![CDATA[
    $(function() {
      // wire up the buttons to dismiss the modal when shown
      $("#durationModal").bind("show", function() {
        $("#durationModal a.btn").click(function(e) {
          // hide the dialog box
          $("#durationModal").modal('hide');
        });

      });

      // remove the event listeners when the dialog is hidden
      $("#durationModal").bind("hide", function() {
          // remove event listeners on the buttons
          $("#durationModal a.btn").unbind();
      });
      // finally, wire up the actual modal functionality and show the dialog
      $("#durationModal").modal({
        "backdrop" : "static",
        "keyboard" : true,
        "show" : true // this parameter ensures the modal is shown immediately
      });

      $('#duration-modal-submit').on('click', function(e){
        e.preventDefault();

        dur = $("#show_change_duration").val();
        durm = -1;
        durs = -1;

        if (dur.indexOf(":") > -1) {
          dpart = dur.split(":");
          durm_i = parseInt(dpart[0]);
          durs_i = parseInt(dpart[1]);

          if ((durs_i >= 0) && (durs_i <= 59)) { 
            durm = durm_i; 
            durs = durs_i;
          }
        }

        if (isNaN(durm) || isNaN(durs) || (durm == -1) || (durs == -1)) { 
          $("#durflash").show();
          return;
        }

        // passed validations
        $("#durflash").modal('hide');
        $("#durationModal").modal('hide');
  
        var sidata = {
          "authenticity_token" : AUTH_TOKEN,
          "duration":  (durm * 60) + durs,
        };

        console.log(sidata);

        $.ajax({
          type: 'PUT',
              datatype: 'json',
              url: '/show_items/' + show_item_id.value + '.json',
              contentType: 'application/json',
              data: JSON.stringify(sidata),
              success: function() { 
                showDT.fnReloadAjax();
              }
          });
        });
    });
  //]]>
</script>
