<% if flash.count > 0 -%>
<div class="alertsbox">
  <% flash.each do |name, msg| -%>
    <% if msg.is_a?(String)
         # map types to our css classes
         case name.to_s
           when "success"
           msgclass = name
         when "info"
           msgclass = name
         when "warning"
           msgclass = name
         when "danger"
           msgclass = name
         when "alert"
           # it sort of sucks that we have such limited data back from flashHash now
           # default to danger
           msgclass='danger'
         else
           msgclass='info'
        end
       -%>
    <div class="alert alert-<%=msgclass%>" style="display:block;"><%=msg%></div>
   <% end -%>
   <% end -%>
</div>
<% end -%>
