    <noscript>
      <div style="font-family:Avenir,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;position:absolute;top:50%;width:100%;margin-top:-90px;text-align:center">
        <h1>Sorry :(</h1>
        <h2>TroupeIT requires JavaScript to run.</h2>
        <p>You must enable JavaScript in order to use TroupeIT.</p>
      </div>
    </noscript>
