<div class="panel panel-default">
  <div class="panel-body">
    <h1>
      <STRONG>Team Ides - Badge Sales</strong>
    </h1>
    <hr/>
    <h3>
      Thank you for your order!
    </h3>
    <P>
      We have emailed you a copy of your order.
    </p>
    <P>
      We will mail you a USPS tracking number shortly.
    </p>
    <p>
      If you have questions or need assistance,
      please contact <a href="mailto:sales@retina.net">sales@retina.net</a>
    </p>
    <P>
    <P>
      Thank you for supporting Team Ides!
    </p>
  </div>
</div>


